<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>
				<%= image_tag (@chef.picture.url) if @chef.picture? %>
			</div>
			<div>
				<%= will_paginate @recipes %>
			</div>

			<% @recipes.each do |recipe|%>

			<h2><%=recipe.name%></h2>
			<p><%=recipe.summary%></p>

			<div>
				<%= image_tag (recipe.picture.url) if @chef.picture? %>
			</div>
			<div class="pull-right">
				<%= link_to like_recipe_path(recipe, like: true), method: :post do %>
					<i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total%>
				<% end %>&nbsp&nbsp&nbsp&nbsp&nbsp

				<%= link_to like_recipe_path(recipe, like: false), method: :post do %>
					<i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total%>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>