<div class="container">
<h1 class="center-title">All Recipes</h1>

<%= will_paginate %>

<% @recipes.each do |recipe| %>
	
	<div class="row recipes-index-view">
		<div class="col-md-4">
			<div class="chef-info center">
				<%= image_tag(recipe.picture.url, size: "350x250", class: "img-responsive") if recipe.picture?%>
			</div>
		</div>
		<div class="col-md-8">
			<h4><%= link_to recipe.name, recipe_path(recipe)%></h4>
			<p><%= link_to recipe.summary, ""%></p>
			<p><%= link_to recipe.description, ""%></p>
			<p><%= time_ago_in_words(recipe.created_at).humanize%></p>

			<div class="pull-right">
				<%= link_to like_recipe_path(recipe, like: true), method: :post do %>
					<i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total%>
				<% end %>&nbsp&nbsp&nbsp&nbsp&nbsp

				<%= link_to like_recipe_path(recipe, like: false), method: :post do %>
					<i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total%>
				<% end %>
			</div>
		</div>
	</div>

<% end %>

<%= will_paginate %>

<!-- <%= will_paginate @recipe, renderer: BootstrapPagination::Rails%> -->

</div>