<div class="row">
	<div class="container">
		<h1 class="center-title">View All Recipes</h1>
		<% @recipes.each do |recipe| %>	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 recipes-index-view">
					<div class="each-recipe-container">
						<%= image_tag(recipe.picture.url, class: "img-responsive recipe-list-image") if recipe.picture?%>

						<h4><%= link_to recipe.name, recipe_path(recipe)%></h4>
						<p><%= recipe.summary %></p>
						<p><%= recipe.description %></p>
					</div>

					<div>
						<div class="center-title">
							<%= link_to like_recipe_path(recipe, like: true), method: :post do %>
								<i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total%>
							<% end %>&nbsp&nbsp&nbsp&nbsp&nbsp

							<%= link_to like_recipe_path(recipe, like: false), method: :post do %>
								<i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total%>
							<% end %>
						</div>
					</div>
			</div>
		<% end %>
	</div>
</div>
<div class="row" style="text-align: center;">
	<%= will_paginate %>
</div>